@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Inter:wght@500&family=Poppins:wght@300&family=Roboto+Condensed&display=swap');

:root{
  --background-color: #2A2F4F;
  --foreground-color: #917FB3;
  --body-background: #FDE2F3;
  --border-color: #E5BEEC;
}

body{
  font-family: 'Heebo', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
background-color: var(--body-background);
}

.heading{
  text-align: center;
  color: var(--background-color);
}

.calculator-container{
  height: 60vh;
  width: 50vw;
  border-radius: 10px;
  margin: 10vh auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.button-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
  border: 5px;
  height: 45vh;
  width: 47vw;
  position: relative;
  left: 15px;
}

button{
  height: 7vh;
  width: 7vh;
  background-color: var(--body-background);
  color: var(--background-color);
  font-size: 1.34rem;
  border-radius: 5px;
  box-shadow: 0 -8px 0 var(--foreground-color) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

button:active{
  box-shadow: 0px -4px 2px var(--foreground-color) inset;
}
button:hover{
  opacity: 0.89;
}

#zero{
  width: 20vh;
  grid-column: 1/ 3;
}

.input-container{
  height: 8vh;
  width: 95%;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10px;
  padding: 2px;
  background-color: var(--border-color);
  color: var(--background-color);
}

.small-display, .big-display{
  text-align: end;
  position: relative;
  left: -10px;
}

.small-display{
  height: 30%;
  opacity: 0.88;
}

.big-display{
  height: 70%;
  padding: 10px;
  font-size: 1.23rem;
}